.classpath.txt
target
.classpath
.project
.idea
.settings
.vscode
*.iml

build/*
# CDK asset staging directory
.cdk.staging
cdk.out
.gradle

vanity-number-generator/build/*
vanity-number-generator/.gradle